.card {
    margin: 6px 10px 0px 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    table-layout: 1px;
}

.online {
    color: greenyellow;
    font-weight: bold;
}

p {
    display: inline;
    margin-right: 10px;
}

button {
    margin-top: 20px;
}